dash==2.17.0
dash_bootstrap_components==1.6.0
google_api_python_client==2.131.0
newsapi==0.1.1
newsapi_python==0.2.7
pandas==2.2.2
plotly==5.22.0
requests==2.31.0
yfinance==0.2.38
gunicorn
dash-tools
